
<body>
    <form action="/departments/add" method="post" style="margin-left: 300px">

    <!-- <input type="file" name="photofile"> -->
    ID<input type="text" name="id" /><br/>
    TITLE<input type="text" name="name"/><br/>
   <br/>

   <br/>
 
  

    <input type="submit" value="save">
    </form>
